
h1 {color: #800000;}
span{color: #FF0000;}
marquee{background-image:url("image.jpg");}
#rebel{color: pink; text-decoration: line-through;}
.unicorn{background-image:url("image.jpg"); height: 500px;
width:500px;}
#red{background-color:red;}